<ion-header-bar align-title="center" class="bar">
    <button class="button icon ion-search button-right" ng-click="showFilterBar()"></button>
</ion-header-bar>
<ion-view title="Donors List">
    <div class="donorList">
        <h1 class="title">Donors List</h1>
        <label class="item item-input">
            <input type="text" placeholder="Country">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="District">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Blood Group">
        </label>
        <div class="card">
            <div class="item item-text-wrap clearfix">
                <h2>N.Jayaprakash</h2>
                <a href="#" class="bloodgroup circle ion-iphone"></a>
                <a href="#" class="bloodgroup">AB+</a>
                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Drinking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Smoking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Sugar</span>
                </div>

                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-100">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Surgery Undertaken</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Blood Pressure</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Ulergy</span>
                </div>
                
                <div class="width-100">
                    <i class="ion-home"></i>
                    <span>Sector 22B,221002</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap clearfix">
                <h2>N.Jayaprakash</h2>
                <a href="#" class="bloodgroup circle ion-iphone"></a>
                <span class="bloodgroup">AB+</span>
                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Drinking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Smoking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Sugar</span>
                </div>
                
                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-100">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Surgery Undertaken</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Blood Pressure</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Ulergy</span>
                </div>
                
                <div class="width-100">
                    <i class="ion-home"></i>
                    <span>Sector 22B,221002</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap clearfix">
                <h2>N.Jayaprakash</h2>
                <a href="#" class="bloodgroup circle ion-iphone"></a>
                <span class="bloodgroup">AB+</span>
                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Drinking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Smoking</span>
                </div>
                <div class="width-50">
                    <i class="ion-close-circled"></i>
                    <span class="">Sugar</span>
                </div>
                
                <div class="width-50">
                    <i class="ion-iphone"></i>
                    <span>+91 9455861234</span>
                </div>
                <div class="width-100">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Surgery Undertaken</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Blood Pressure</span>
                </div>

                <div class="width-50">
                    <i class="ion-checkmark-circled"></i>
                    <span class="">Ulergy</span>
                </div>
                
                <div class="width-100">
                    <i class="ion-home"></i>
                    <span>Sector 22B,221002</span>
                </div>
            </div>
        </div>
    </div>
    <a href="/#/registrationForm" class="addDonor">
        <img src="./img/addDonor.png">
    </a>
</ion-view>
