<ion-view title="Donors List">
    <label class="item item-input">
        <input type="text" placeholder="Country">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="State">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="District">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Blood Group">
    </label>
    <div class="card">
      <div class="item item-text-wrap">
         <h2>N.Jayaprakash</h2> 
         <span class="bloodgroup">AB+</span>
         <br>
         <i class="ion-iphone" data-pack="default" data-tags="smartphone, mobile, apple, retina, device"></i>
         <span>+91 9455861234</span>
         <i class="ion-checkmark-circled" data-pack="default" data-tags="complete, finished, success, on"></i>
         <span class="">Drinking</span>
         <i class="ion-close-circled" data-pack="default" data-tags="delete, trash, kill, x"></i>
         <span class="">Smoking</span>
         <i class="ion-close-circled" data-pack="default" data-tags="delete, trash, kill, x"></i>
         <span class="">Sugar</span>
         <br>
         <i class="ion-iphone" data-pack="default" data-tags="smartphone, mobile, apple, retina, device"></i>
         <span>+91 9455861234</span>
         <span class="">Surgery Undertaken</span>
         <span class="">Blood Pressure</span>
         <span class="">Ulergy</span>
         <br>
         <i class="ion-home" data-pack="default" data-tags="house"></i>
         <span>Sector 22B,221002</span>
      </div>
    </div>
</ion-view>
