<!-- <ion-header-bar align-title="center" class="bar">
    <h1 class="title">Donors List</h1>
    <button class="button icon ion-search button-right" ng-click="showFilterBar()"></button>
</ion-header-bar> -->
<ion-view view-title="Donors List">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Donors List</h1>
        <!-- <button class="button icon ion-search" ng-click="showFilterBar()"></button> -->
        <button class="button icon ion-share" ng-click="shareAppInfo()"></button>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <ion-refresher pulling-icon="ion-arrow-down-b" pulling-text="Pull to refresh..." on-refresh="fetchDonorsList()">
        </ion-refresher>
        <div class="sortbuttons">
            <a class="button icon-right ion-arrow-down-b" modal-select ng-model="selectedBlood" options="bloodList" modal-title="Select a blood group" has-search="true" header-footer-class="bar-positive" on-select="getSelectedBloodGroup(newValue,oldValue)" on-reset="resetFilter('blood')" style="margin-left: 4px;">Blood
            <div class="option">
              {{option}}
            </div>
            </a>
            <a class="button icon-right ion-arrow-down-b" modal-select ng-model="selectedState" options="statesList" modal-title="Select your State" has-search="true" on-select="getSelectedState(newValue, oldValue)" on-reset="resetFilter('state')" header-footer-class="bar-positive">State
            <div class="option">
              {{option.Name}}
            </div>
            </a>
            <a class="button icon-right ion-arrow-down-b" modal-select ng-model="selectedDistrict" options="districtsList" modal-title="Select your District" has-search="true" header-footer-class="bar-positive" option-property="city" ng-disabled="!selectedState" style="margin-left: 0;">District
            <div class="option">
              {{option.city}}
            </div>
            </a>
            <!-- <a class="button" ng-click="setSortCriteria('district')">District</a>
            <a class="button" ng-click="setSortCriteria('state')">State</a>
            <a class="button" ng-click="setSortCriteria('country')">country</a> -->
        </div>
        <div class="donorList">
            <!-- <label class="item item-input">
            <input type="text" placeholder="Country">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="District">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Blood Group">
        </label> -->
            <div class="card" ng-repeat="donor in fetchedDonors |filter:myFilter">
                <div class="item item-text-wrap clearfix">
                    <h2>{{donor.fname}} {{donor.lname}}<span class="age">({{donor.age}})</span></h2>
                    <a href="tel:{{donor.pmobile}}" class="bloodgroup circle ion-iphone"></a>
                    <a href="" class="bloodgroup type">{{donor.bloodGroup}}</a>
                    <div class="accordion-content clearfix">
                        <div class="width-100">
                            <i class="ion-iphone"></i>
                            <span>+91 {{donor.pmobile}}</span>
                        </div>
                        <div class="width-100" ng-if="donor.smobile">
                            <i class="ion-iphone"></i>
                            <span>+91 {{donor.smobile}}</span>
                        </div>
                        <div class="width-100">
                            <span>Weight : {{donor.weight}}</span>
                        </div>
                        <div class="width-50">
                            <i ng-class="{'ion-checkmark-circled':donor.habits.alcohol,'ion-close-circled':donor.habits.alcohol==undefined}"></i>
                            <span class="">Drinking</span>
                        </div>
                        <div class="width-50">
                            <i ng-class="{'ion-checkmark-circled':donor.habits.smoker,'ion-close-circled':donor.habits.smoker==undefined}"></i>
                            <span class="">Smoking</span>
                        </div>
                        <div class="width-50">
                            <i ng-class="{'ion-checkmark-circled':donor.conditions.sugar,'ion-close-circled':donor.conditions.sugar==undefined}"></i>
                            <span class="">Sugar</span>
                        </div>
                        <div class="width-100">
                            <i ng-class="{'ion-checkmark-circled':donor.conditions.surgery,'ion-close-circled':donor.conditions.surgery==undefined}"></i>
                            <span class="">Surgery Undertaken</span>
                        </div>
                        <div class="width-100">
                            <i ng-class="{'ion-checkmark-circled':donor.conditions.bp,'ion-close-circled':donor.conditions.bp==undefined}"></i>
                            <span class="">Blood Pressure</span>
                        </div>
                        <!-- <div class="width-50">
                        <i class="ion-checkmark-circled"></i>
                        <span class="">Ulergy</span>
                    </div> -->
                        <div class="width-100">
                            <i class="ion-home"></i>
                            <span>{{donor.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--         <div class="card">
            <div class="item item-text-wrap clearfix">
                <h2>N.Jayaprakash</h2>
                <a href="#" class="bloodgroup circle ion-iphone"></a>
                <a href="#" class="bloodgroup">AB+</a>
                <div class="accordion-content clearfix">
                    <div class="width-50">
                        <i class="ion-iphone"></i>
                        <span>+91 9455861234</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-checkmark-circled"></i>
                        <span class="">Drinking</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-close-circled"></i>
                        <span class="">Smoking</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-close-circled"></i>
                        <span class="">Sugar</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-iphone"></i>
                        <span>+91 9455861234</span>
                    </div>
                    <div class="width-100">
                        <i class="ion-checkmark-circled"></i>
                        <span class="">Surgery Undertaken</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-checkmark-circled"></i>
                        <span class="">Blood Pressure</span>
                    </div>
                    <div class="width-50">
                        <i class="ion-checkmark-circled"></i>
                        <span class="">Ulergy</span>
                    </div>
                    <div class="width-100">
                        <i class="ion-home"></i>
                        <span>Sector 22B,221002</span>
                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </ion-content>
</ion-view>
<!-- <a ui-sref="registrationForm" class="addDonor">
    <img src="./img/addDonor.png">
</a> -->
