<form class="registrationForm" method="POST" novalidate name="registrationForm">
    <div class="logo-wrapper row">
        <img class="logo" src="./img/icon.png">
    </div>
    <div class="row">
        <div class="list col">
            <h3>Personal Information:</h3>
            <label class="item item-input">
                <input type="text" name="fname" placeholder="Name" ng-model="donorObj.fname" ng-required="true" ng-pattern="validations.textonly">
            </label>
            <div class="error-container" ng-show="registrationForm.fname.$error" ng-messages="registrationForm.fname.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input">
                <input type="text" name="lname" placeholder="Last Name" ng-model="donorObj.lname" ng-pattern="validations.textonly">
            </label>
            <div class="error-container" ng-show="registrationForm.lname.$error" ng-messages="registrationForm.lname.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input">
                <input type="tel" name="pmobile" placeholder="Primary No." ng-model="donorObj.pmobile" ng-required="true" ng-maxlength="10">
            </label>
            <div class="error-container" ng-show="registrationForm.pmobile.$error" ng-messages="registrationForm.pmobile.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input">
                <input type="tel" placeholder="Secondary No." ng-model="donorObj.smobile" ng-maxlength="10">
            </label>
            <!-- <label class="item item-input">
                <input type="text" name="bloodGroup" placeholder="Blood Group" ng-model="donorObj.bloodGroup" ng-required="true">
            </label> -->
            <label class="item item-input item-select">
                <div class="input-label">
                    Blood Group
                </div>
                <select ng-options="blood as blood for blood in bloodList" ng-model="donorObj.bloodGroup">
                </select>
            </label>
            <!-- <div class="error-container" ng-show="registrationForm.bloodGroup.$error" ng-messages="registrationForm.bloodGroup.$error">
                <div ng-messages-include="error-list.html"></div>
            </div> -->
            <label class="item item-input">
                <input type="tel" name="age" placeholder="Age" ng-model="donorObj.age" ng-required="true">
            </label>
            <div class="error-container" ng-show="registrationForm.age.$error" ng-messages="registrationForm.age.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <h5>Gender</h5>
            <ion-radio ng-model="donorObj.gender" ng-value="'Male'" checked>Male</ion-radio>
            <ion-radio ng-model="donorObj.gender" ng-value="'Female'">Female</ion-radio>
            <h3>Habits:</h3>
            <ion-checkbox ng-model="donorObj.drinker" ngTrueValue="yes" ngFalseValue="no">Alcohol</ion-checkbox>
            <ion-checkbox ng-model="donorObj.smoker" ngTrueValue="yes" ngFalseValue="no">Smoking</ion-checkbox>
            <h3>Conditions:</h3>
            <ion-checkbox ng-model="donorObj.bp" ngTrueValue="yes" ngFalseValue="no">Blood Pressure</ion-checkbox>
            <ion-checkbox ng-model="donorObj.sugar" ngTrueValue="yes" ngFalseValue="no">Sugar</ion-checkbox>
            <ion-checkbox ng-model="donorObj.surgery" ngTrueValue="yes" ngFalseValue="no">Under take Surgery</ion-checkbox>
            <label class="item item-input">
                <input type="number" name="weight" placeholder="Weight" ng-model="donorObj.weight" ng-required="true">
            </label>
            <div class="error-container" ng-show="registrationForm.weight.$error" ng-messages="registrationForm.weight.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <h3>Address:</h3>
            <label class="item item-input">
                <textarea cols='5' rows='5' name="address" type="text" placeholder="Address" ng-model="donorObj.address" ng-required="true"></textarea>
            </label>
            <div class="error-container" ng-show="registrationForm.address.$error" ng-messages="registrationForm.address.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <!-- <label class="item item-input">
                <input type="text" name="state" placeholder="State" ng-model="donorObj.state" ng-required="true" ng-pattern="validations.textonly">
            </label> -->
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select name="state" ng-options="state.ID as state.Name for state in statesList track by state.ID" ng-model="donorObj.state" ng-change="fetchDistricts(state)" ng-required="true">
                    <option value="">Select</option>
                </select>
            </label>
            <div class="error-container" ng-show="registrationForm.state.$error" ng-messages="registrationForm.state.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <!-- <label class="item item-input">
                <input type="text" name="district" placeholder="District" ng-model="donorObj.district" ng-required="true" ng-pattern="validations.textonly">
            </label> -->
            <label class="item item-input item-select">
                <div class="input-label">
                    District
                </div>
                <select name="district" ng-options="district.city as district.city for district in districtsList track by district.city" ng-model="donorObj.district" ng-required="true">
                    <option value="">Select</option>
                </select>
            </label>
            <div class="error-container" ng-show="registrationForm.district.$error" ng-messages="registrationForm.district.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input">
                <input type="text" name="country" placeholder="Country" ng-model="donorObj.country" ng-required="true" ng-pattern="validations.textonly">
            </label>
            <div class="error-container" ng-show="registrationForm.country.$error" ng-messages="registrationForm.country.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
        </div>
    </div>
    <div class="btn-grp clearfix">
        <ion-checkbox class="agreement" ngTrueValue="yes" ngFalseValue="no" ng-model="donorObj.agree"><a href="">I AGREE</a></ion-checkbox>
        <!--  <input class="agree" type="checkbox" name="agree">
        <label for="agree">I AGREE</label> -->
        <button type="button" ng-disabled="registrationForm.$invalid" class="button button-assertive submit" ng-click="addDonor()">
            Submit
        </button>
        <button type="reset" class="button reset button-assertive" ng-click="resetForm()">
            Reset
        </button>
    </div>
</form>
<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> This field is required!
    </div>
    <div class="error" ng-message="pattern">
        <i class="ion-information-circled"></i> Only Alphabets allowed!
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Minimum length of this field is 5 characters!
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Maximum length of this field is 10 characters!
    </div>
</script>
