<form class="registrationForm" method="POST" action="#">
    <div class="logo-wrapper row">
        <img class="logo" src="./img/icon.png">
    </div>
    <div class="row">
        <div class="list col">
            <h3>Personal Information:</h3>
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="donorObj.fname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="donorObj.lname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Primary No." ng-model="donorObj.pmobile">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Secondary No." ng-model="donorObj.smobile">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Blood Group">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Age" ng-model="donorObj.age">
            </label>
            <ion-radio ng-model="donorObj.gender" ng-value="'Male'">Male</ion-radio>
            <ion-radio ng-model="donorObj.gender" ng-value="'Female'">Female</ion-radio>
            <h3>Habits:</h3>
            <ion-checkbox ng-model="donorObj.drinker" ngTrueValue="yes" ngFalseValue="no">Alcohol</ion-checkbox>
            <ion-checkbox ng-model="donorObj.smoker" ngTrueValue="yes" ngFalseValue="no">Smoking</ion-checkbox>
            <h3>Conditions:</h3>
            <ion-checkbox ng-model="donorObj.bp" ngTrueValue="yes" ngFalseValue="no">Blood Pressure</ion-checkbox>
            <ion-checkbox ng-model="donorObj.sugar" ngTrueValue="yes" ngFalseValue="no">Sugar</ion-checkbox>
            <ion-checkbox ng-model="donorObj.surgery" ngTrueValue="yes" ngFalseValue="no">Under take Surgery</ion-checkbox>
            <label class="item item-input">
                <input type="text" placeholder="Weight" ng-model="donorObj.weight">
            </label>
            <h3>Address:</h3>
            <label class="item item-input">
                <textarea cols='5' rows='5' type="text" placeholder="Address" ng-model="donorObj.address"></textarea>
            </label>
        </div>
    </div>
    <!-- <div class="m-10">
        <ion-checkbox ng-model="isCheckedAgree">I agree</ion-checkbox>
    </div> -->
    <div class="btn-grp">
       <button type="reset" class="button button-assertive">
                Reset
        </button>
        <button type="button" class="button button-assertive right" ng-click="addDonor()">
            Submit
        </button>
    </div>
</form>
