<ion-view>
    <div class="registrationForm row">
      <img class="logo" src="../img/icon.png">
      <div class="list">
         <h3>Personal Information</h3>
         <label class="item item-input">
         <input type="text" placeholder="Name">
         </label>
         <label class="item item-input">
         <input type="text" placeholder="Placeholder 2">
         </label>
          <label class="item item-input">
         <input type="text" placeholder="Placeholder 1">
         </label>
         <label class="item item-input">
         <input type="text" placeholder="Placeholder 2">
         </label>
          <label class="item item-input">
         <input type="text" placeholder="Placeholder 1">
         </label>
         <label class="item item-input">
         <input type="text" placeholder="Placeholder 2">
         </label>
      </div>
    </div>
</ion-view>