.bloodgroup{
	float: right;
}

.floatright{
	float: right;
}

.register{
	background: url(../img/background.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    text-align: center;
}

.logo{
	width: 75px;
    margin: auto;
    display: block;
    padding-top: 75px;
}
.progress{
	margin-top: 87px;
}

.registrationForm .logo{
	padding-top: 0;
}

.registrationForm{
	overflow-y: scroll;
}

.bloodgroup{
    border-radius: 50%;
    padding:10px 5px;
    background-color: #d66625;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    text-decoration: none;
}
.ion-checkmark-circled:before{
    color: green;
}
.ion-close-circled:before,.ion-home:before,.ion-iphone,h2{
    color: #d66625;
}

.pane, .view {
    overflow-x: hidden;
    overflow-y: scroll;
}

.donorList{
    margin-top: 75px;
}
.bar-positive.bar.bar-header,.bar-positive .button,.bar-positive input{
    background-color: #d66625 !important;
}

.donorList .card .item h2{
    margin-bottom: 20px;
}
.donorList .card .item{
    margin-top: 15px;
    box-shadow: 3px 3px 5px 2px #e5e5e5;
}

.donorList .card .item .width-50,.donorList .card .item .width-100{
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5px 0;
}

.donorList .card .item .width-100{
    width: 100%;
    margin-top: 5px;
}

.donorList h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.m-10{
    margin-bottom: 20px;
}

.right{
    float: right;
}

.button-right{
  display: block !important;
  width: 100% !important;
  text-align:right !important;
}

.addDonor img{
    float: right;
    margin-right: 20px;
}

.btn-grp{
    margin: 10px 20px;
}

.button-clear.button-clear {
    color: #000;
}

.button.button-assertive {
    background-color: #d66625;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #d66625;
    border-color: #d66625;
}
.ion-checkmark:before {
    color: #d66625;
}
.circle{
    right: 62px;
    width: 40px;
    height: 40px;
}

.circle.ion-iphone:before{
    font-size: 23px;
    color: #fff;
    margin-left: 10px;
}

.item-input,.item-checkbox,.item-radio{
    margin-bottom: 15px;
    box-shadow: 1px 0px 5px 1px #ddd;
}

.item-input *,.item-checkbox *,.item-radio *,input{
    color: #d66625;
}
.item-input input, .item-input textarea {
    color: #d66625;
    font-size: 16px;
}

h3, .h3 {
    font-size: 20px;
}


.registerBtn {
    margin-top: 10px;
}
.addDonor img {
    /* float: right; */
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 5px;
    margin-right: 10px;
}
.ion-checkmark:before {
    content: "\f3a7";
    font-size: 32px;
}
.ion-search{
    box-shadow: 0px 0px 2px 1px #d66625;
}
.placeholder-icon,
.button-clear.button-clear,
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear.button:before{
    color: #d66625;
}

/*.ion-search:before,*/