.bloodgroup {
    float: right;
}

.floatright {
    float: right;
}

.register {
    background: url(../img/background-new.jpg);
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.logo {
    width: 75px;
    margin: auto;
    display: block;
    padding-top: 75px;
}

.progress {
    margin-top: 87px;
}

.registrationForm .logo {
    padding-top: 0;
}

.registrationForm {
    overflow-y: scroll;
}

.bloodgroup {
    border-radius: 50%;
    padding: 10px 5px;
    background-color: #D66A50;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    text-decoration: none;
}

.bloodgroup.type {
    width: 42px;
    text-align: center;
    height: 42px;
}

.ion-checkmark-circled:before {
    color: green;
}

.ion-close-circled:before,
.ion-home:before,
.ion-iphone,
h2 {
    color: #D66A50;
}

.pane,
.view {
    overflow-x: hidden;
    overflow-y: scroll;
}

.donorList {
    margin-top: 25px;
}

.bar-positive.bar.bar-header,
.bar-positive .button,
.bar-positive input {
    background-color: #D66A50 !important;
}

.donorList .card .item h2 {
    margin-bottom: 20px;
}

.donorList .card .item {
    margin-top: 15px;
    box-shadow: 3px 3px 5px 2px #e5e5e5;
}

.donorList .card .item .width-50,
.donorList .card .item .width-100 {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5px 0;
}

.donorList .card .item .width-100 {
    width: 100%;
    margin-top: 5px;
}

.bar-positive .button,
.bar-positive .button:active {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.donorList h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.m-10 {
    margin-bottom: 20px;
}

.right {
    float: right;
}

.button-right {
    display: block !important;
    width: 100% !important;
    text-align: right !important;
}

.addDonor img {
    float: right;
    margin-right: 20px;
}

.btn-grp {
    margin: 10px 20px;
}

.button-clear.button-clear {
    color: #000;
}

.sortbuttons {
    margin-top: 10px;
}

.sortbuttons .button {
    border: 1px solid #D66A50;
}

.bar.item-input-inset .item-input-wrapper input {
    color: #fafafa;
}

.button.button-assertive {
    background-color: #D66A50;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #D66A50;
    border-color: #D66A50;
}

.ion-checkmark:before {
    color: #D66A50;
}

.circle {
    right: 62px;
    width: 42px;
    height: 42px;
}

.circle.ion-iphone:before {
    font-size: 23px;
    color: #fff;
    margin-left: 12px;
}

.item-input,
.item-checkbox,
.item-radio {
    margin-bottom: 15px;
    box-shadow: 1px 0px 5px 1px #ddd;
}

.item-input *,
.item-checkbox *,
.item-radio *,
input {
    color: #D66A50;
}

.item-input input,
.item-input textarea {
    color: #D66A50;
    font-size: 16px;
}

h3,
.h3 {
    font-size: 20px;
}

.registerBtn {
    margin-top: 25%;
    width: 50%;
}

.addDonor img {
    /* float: right; */
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 5px;
    margin-right: 10px;
}

.ion-checkmark:before {
    content: "\f3a7";
    font-size: 32px;
}

.ion-search {
    box-shadow: 0px 0px 2px 1px #D66A50;
}

.placeholder-icon,
.button-clear.button-clear,
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear.button:before {
    /*color: #D66A50;*/
}

.filter-bar-clear.button.button-icon.icon.ion-ios-close:before {
    color: #fff !important;
}

.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
    background-color: transparent !important;
}



.button.button-assertive.reset {
    float: right;
    margin-right: 20px;
    min-height: 35px;
    line-height: 35px;
}

.button.button-assertive.submit {
    float: right;
    min-height: 35px;
    line-height: 35px;
}

label.agreement.item.item-checkbox {
    width: 40%;
    display: inline-block;
    padding: 6px 0;
    border: none;
    box-shadow: none;
}

label.agreement.item.item-checkbox .checkbox {
    padding-left: 0;
}

label.agreement.item .checkbox-icon:before {
    border-radius: 0;
    border-color: #D66A50;
    box-shadow: 1px 0px 5px 1px #ddd;
}

label.agreement.item .item-content.disable-pointer-events {
    margin-left: 46px;
}

label.agreement.item .item-content.disable-pointer-events span {
    color: #000;
    font-size: 14px;
}

.sortbuttons .button {
    border-radius: 0;
    padding: 0 10px;
    text-transform: capitalize;
    background: transparent;
}
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
    background: #fff !important;
}


/*.ion-search:before,*/
