.bloodgroup{
	float: right;
}

.floatright{
	float: right;
}

.register{
	background: url(../img/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
}

.logo{
	width: 75px;
    margin: auto;
    display: block;
    padding-top: 75px;
}
.progress{
	margin-top: 87px;
}

.registrationForm .logo{
	padding-top: 0;
}

.registrationForm{
	overflow-y: scroll;
}

.bloodgroup{
    border-radius: 50%;
    padding:10px 5px;
    background-color: #d66625;
    color: #fff;
}
.ion-checkmark-circled:before{
    color: green;
}
.ion-close-circled:before,.ion-home:before,.ion-iphone,h2{
    color: #d66625;
}

.pane, .view {
    overflow-x: hidden;
    overflow-y: scroll;
}

.donorList{
    margin-top: 75px;
}
.bar-positive.bar.bar-header{
    background-color: #d66625;
}

.donorList .card .item h2{
    margin-bottom: 10px;
}
.donorList .card .item{
    margin-top: 15px;
    box-shadow: 3px 3px 5px 2px #e5e5e5;
}

.donorList .card .item .width-50,.donorList .card .item .width-100{
    display: inline-block;
    float: left;
    width: 50%;
}

.donorList .card .item .width-100{
    width: 100%;
    margin-top: 15px;
}

.m-10{
    margin-bottom: 20px;
}

.right{
    float: right;
    margin-right: 20px;
}